@model MoneyTrackr.ViewModels.LoginViewModel

<form id="loginForm" onsubmit="return users.logIn(this)">
    <div class="form-horizontal">
        <h4>Log In</h4>
        <hr />

        <div class="form-group">
            @Html.LabelFor(model => model.Username, htmlAttributes: new { @for = "Login-Username", @class = "control-label" })
            <div>
                @Html.EditorFor(model => model.Username, new { htmlAttributes = new { id = "Login-Username", @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Password, htmlAttributes: new { @for = "Login-Password", @class = "control-label" })
            <div>
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { id = "Login-Password", @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div>
                <div id="summaryErrors" class="text-danger spacer-bottom"> </div>
                <button type="submit" class="btn btn-primary spacer-bottom">
                    <span class=" icon icons-login"></span> &nbsp Log In
                </button>
                &nbsp;
                <button type="button" onclick="showOrHideLoginForm(false)" class="btn btn-light spacer-bottom">
                    <span class=" icon icons-register"></span> &nbsp Register instead
                </button>
            </div>
        </div>
    </div>
</form>