@model MoneyTrackr.ViewModels.RegisterViewModel

<form id="registerForm" onsubmit="return users.register(this)" autocomplete="off" style="display:none">
    <div class="form-horizontal">
        <h4>Register</h4>
        <hr />

        <div class="form-group">
            @Html.LabelFor(model => model.Username, htmlAttributes: new { @for = "Register-Username", @class = "control-label" })
            <div>
                @Html.EditorFor(model => model.Username, new { htmlAttributes = new { id = "Register-Username", @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Password, htmlAttributes: new { @for = "Register-Password", @class = "control-label"})
            <div>
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { id = "Register-Password", @class = "form-control", autocomplete = "new-password" } })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @for = "Register-ConfirmPassword", @class = "control-label" })
            <div>
                @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { id = "Register-ConfirmPassword", @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div>
                <div id="summaryErrors" class="text-danger spacer-bottom"></div>
                <input type="submit" value="Register" class="btn btn-primary" />
                &nbsp;
                <input type="button" onclick="showOrHideLoginForm(true)" value="Log In instead" class="btn btn-light" />
            </div>
        </div>
    </div>
</form>