@model MoneyTrackr.ViewModels.RegisterViewModel

<form onsubmit="return users.register(this)">
    <div class="form-horizontal">
        <h4>Register</h4>
        <hr />

        <div class="form-group">
            @Html.LabelFor(model => model.Username, htmlAttributes: new { @for = "Register-Username", @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Username, new { htmlAttributes = new { id = "Register-Username", @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Password, htmlAttributes: new { @for = "Register-Password", @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { id = "Register-Password", @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @for = "Register-ConfirmPassword", @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { id = "Register-ConfirmPassword", @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div id="summaryErrors" class="text-danger"></div>
                <br />
                <input type="submit" value="Register" class="btn btn-primary" />
            </div>
        </div>
    </div>
</form>