@using System.Security.Claims
@using MoneyTrackr.ViewModels

@model FilterEntriesViewModel

@{
    string currentUsername = User.FindFirst(ClaimTypes.NameIdentifier).Value;
    bool allowUserSelection = User.FindFirst(ClaimTypes.Role).Value == Constants.Role.RegularUserRoleName;

    Model.Users.Add(new UserViewModel()
    {
        Username = currentUsername
    });
}

<form id="searchForm" onsubmit="return entries.getEntries(this)" class="form-inline">
    <div class="row row-cols-2 spacer-bottom">
        <div class="col-sm-6 col-md-4 spacer-bottom">
            <div class="input-group input-group-sm">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        @Html.NameFor(model => model.From)
                    </span>
                </div>

                @Html.EditorFor(model => model.From, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="col-sm-6 col-md-4 spacer-bottom">
            <div class="input-group input-group-sm">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        @Html.NameFor(model => model.To)
                    </span>
                </div>
                @Html.EditorFor(model => model.To, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="col-sm-6 col-md-3" style="@(allowUserSelection ? "display:none;" : "")">
            <div class="input-group input-group-sm">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        @Html.DisplayNameFor(model => model.Users)
                    </span>
                </div>

                @Html.DropDownListFor(model => model.Users, new SelectList(Model.Users, "Username", "Username", currentUsername), null, new { @class = "form-control" })
            </div>
        </div>

        <div class="col-sm-6 col-md-auto">
            <button class="btn btn-light btn-sm" type="submit">
                <span class="icon icons-search"></span> <span class="d-xs-inline d-sm-inline d-md-none"> &nbsp; Search</span>
            </button>
        </div>
    </div>
</form>

<div id="filterValidation" class="text-danger text-right"></div>